project/storage/postgres/*
project/storage/kafka/*
project/storage/zookeeper/*
project/storage/pgadmin/*
project/storage/scylla/*
.vscode/launch.json
.vscode/settings.json
payment-vault/api/publish/*
payment-administrator/api/publish/*
payment-executor/api/publish/*
task-manager/api/publish/*
payment-vault/worker/publish/*
payment-administrator/worker/publish/*
payment-executor/worker/publish/*
config-manager/api/publish/*
data-hub/worker/publish/*
.DS_Store
testing/*
coverageTmp/*
*.log
vendor/