go 1.21.3

use (
	./config-manager/api
	./config-manager/common
	./data-hub/common
	./data-hub/worker
	./payment-administrator/api
	./payment-administrator/common
	./payment-administrator/integration-tests
	./payment-administrator/worker
	./payment-executor/api
	./payment-executor/common
	./payment-executor/integration-tests
	./payment-executor/worker
	./payment-vault/api
	./payment-vault/common
	./payment-vault/worker
	./pkg/api
	./pkg/common-functions
	./pkg/common-handlers
	./pkg/common-models
	./pkg/common-repositories
	./pkg/crypto
	./pkg/database
	./pkg/enums
	./pkg/filmapi-client
	./pkg/inbound-fileprocessor
	./pkg/lock
	./pkg/logging
	./pkg/messaging
	./pkg/models
	./pkg/proto
	./pkg/validations
	./project
	./task-manager/api
	./task-manager/common
	./task-manager/integration-tests
	./task-manager/worker
)
